body {
    font-family: 'Scope One', serif;
    font-size: 14px;
    color: #7d97ad;
    box-sizing: content-box;
    margin: 0px;
    background-color: #E6E9EB;
}

.header {
  width: 100%;
  border-bottom: solid 1px black;
  margin-bottom: 5px;
}
.navigation {
  text-align: center;
  font-size: 18px;
  width: 100%;
}
.progress {
  display: flex;
  justify-content: space-around;
}
.talk {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-right: 35px;
  text-transform: uppercase;
  text-align: right;
  text-shadow: 1px 1px grey;
}
.titles {
  text-align: justify;
  margin: 1px;
  font-size: 14px;
}
.devtea {
  border: 1px solid #E6E9EB;
}
.book,
.classes,
.podcast {
  background: linear-gradient(285deg, #a7c4cc, white);
  border: 1px solid black;
  max-width: 300px;
  margin: 7px;
  padding: 5px;
  text-align: center;
  color: #383e3f;
  border-radius: 5px;
}
.footer {
  position: sticky;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-top: solid 1px black;
  margin-top: 5px;
}
#footer {
  margin-bottom: 0px;
}
